    body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #8bc34a; /* Vert jungle doux */
    background-image: url('../img/pexels-elias-tigiser-411757-2757549.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    background-attachment: fixed;
}
#choixCompte {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
article {
    display: flex;
    flex-direction: row;
}
h1 {
    color: #fff;
    font-size: 70px;
    margin-top: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Effet ombre pour le texte */
    font-family:fontWater;
    letter-spacing: 5px;
    font-size: 100px;
}
h2 {
    color:  #ffffff;
    font-family:fontAutumn;
    font-weight: 600;
    margin-top: 100px;
    font-size:100px;  
    letter-spacing: 10px;
}
h3 {
    color:  #ffeb3b;
    font-family:fontAutumn;
    font-weight: 600;
    margin-top: 100px;
    font-size:70px;
    margin-bottom: 1%;
}
#welcomeMessage {
    font-size:x-large;
    margin-top: 1px;
}
h6 {
    color: rgb(255, 255, 255);
    font-size: xx-large;
}

@font-face {
    font-family: fontWater;
    src: url(../img/Super\ Water.ttf);
}
@font-face {
    font-family: fontAutumn;
    src: url(../img/Autumn\ in\ September.ttf);
}
a {
    color: #ffeb3b;
    font-size: 30px;
    text-decoration: none;
    font-family:fontAutumn ;
    font-weight: 600;
    font-size: 35px;
    cursor: url(../img/curseurFeuille.png), pointer;
}
nav {
    display: flex;
    justify-content: space-evenly;
    gap: 0.5%;
    margin-bottom: 20px;
}
#interroge {
    animation: rotate 2s infinite linear; /* L'image bouge en boucle */
    width: 250px;
}
@keyframes rotate {
    from {
        transform: rotate(0deg); /* Commence à 0 degrés */
    }
    to {
        transform: rotate(360deg); /* Tourne à 360 degrés */
    }
}
#regles {
    color:#000000;
    font-size:larger;
    background-color: #ffffff91;
    border-radius: 50px;
    padding: 3%;
    margin-inline: 15%;
}
.board {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 2vw;
    justify-content:center;
    align-items: center;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}
.card {
    width: 200px; /* Largeur flexible en fonction de la taille de l'écran, moins l'espace entre les cartes */
    height: 200px;
    background-color: #ffffff;
    background-image: url('../img/feuilleMIMIgrande.png');
    background-size: cover; /* Ajuste l'image pour couvrir toute la carte */
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    cursor: url(../img/curseurFeuille.png), pointer;

}
.card.flipped {
    transform: rotateY(180deg);
}
.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 15px;
}
.back {
    background-color: #ffffff; /* Marron bois */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    background-size: cover;
}
.front {
    display: flex;
    justify-content: center;
    align-items: center;
}
.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s; /* Transition pour l'effet de zoom */
}
fieldset {
    margin-left: 145px;
    margin-right: 145px;
    padding: 70px;
    background-color: #ffffff91;
    color: #000000;
    border-radius: 70px;
}
#bravo {
    display: none;
    font-size: 55px;
    background-color: #fff23d98;
    border-radius: 800px;
    padding: 10%;
    margin-inline: 27%;
    color: #000000;
    position:absolute;
    z-index: 2;
    top: 400px;
}
#counterCoups {
    font-size: x-large;
    background-color: #ffffff8f;
    color: #000;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
}

h4 {
    font-size: xx-large;
    margin-top: 1px;
}
input {
    background-color: #ffeb3b86;
}
button {
    background-color: #ffeb3b;
    color: #2e7d32;
    border: none;
    padding: 12px 24px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}
button:hover {
    background-color: #fbc02d;
    transform: scale(1.1);
}
#error, #message, #loginError{
    color: #ad1616;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    margin-top: 0.1px;
    font-style: oblique;
}
#forcePasswordFaible {
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f81d1d;
}
#forcePasswordFort {
    color:#000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #80f321;
}
#forcePasswordMoyen {
    color: #030303;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f3e521;
}
section {
    color:#000000;
    font-size:larger;
    background-color: #ffffff91;
    border-radius: 50px;
    padding: 3%;
    margin-inline: 20%;
    margin-top: 80px;
    margin-bottom: 1%;
}
* {
    box-sizing: border-box;
}
